# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
resources/example_projects/tour.gpkg
resources/example_projects/tour.gpkg-shm
resources/example_projects/tour.gpkg-wal
resources/example_projects/farm_scene.qgz
resources/img/logo/animation-workbench-logo.svg.2022_03_09_22_56_44.0.svg
resources/synfig/fish.0000.png
resources/synfig/fish.0001.png
resources/synfig/fish.0002.png
resources/synfig/fish.0003.png
resources/synfig/fish.0004.png
resources/synfig/fish.0005.png
resources/synfig/fish.0006.png
resources/synfig/fish.0007.png
resources/synfig/fish.0008.png
resources/synfig/fish.0009.png
resources/synfig/fish.0010.png
resources/synfig/fish.0011.png
resources/synfig/fish.0012.png
resources/synfig/fish.0013.png
resources/synfig/fish.0014.png
resources/synfig/fish.0015.png
resources/synfig/fish.0016.png
resources/synfig/fish.0017.png
resources/synfig/fish.0018.png
resources/synfig/fish.0019.png
resources/synfig/fish.0020.png
resources/synfig/fish.0021.png
resources/synfig/fish.0022.png
resources/synfig/fish.0023.png
resources/synfig/fish.0024.png
resources/synfig/fish.0025.png
resources/synfig/fish.0026.png
resources/synfig/fish.0027.png
resources/synfig/fish.0028.png
resources/synfig/fish.0029.png
resources/synfig/fish.0030.png
resources/synfig/fish.0031.png
resources/synfig/fish.0032.png
resources/synfig/fish.0033.png
resources/synfig/fish.0034.png
resources/synfig/fish.0035.png
resources/synfig/fish.0036.png
resources/synfig/fish.0037.png
resources/synfig/fish.0038.png
resources/synfig/fish.0039.png
resources/synfig/fish.0040.png
resources/synfig/fish.0041.png
resources/synfig/fish.0042.png
resources/synfig/fish.0043.png
resources/synfig/fish.0044.png
resources/synfig/fish.0045.png
resources/synfig/fish.0046.png
resources/synfig/fish.0047.png
resources/synfig/fish.0048.png
resources/synfig/fish.0049.png
resources/synfig/fish.0050.png
resources/synfig/fish.0051.png
resources/synfig/fish.0052.png
resources/synfig/fish.0053.png
resources/synfig/fish.0054.png
resources/synfig/fish.0055.png
resources/synfig/fish.0056.png
resources/synfig/fish.0057.png
resources/synfig/fish.0058.png
resources/synfig/fish.0059.png
resources/synfig/fish.0060.png
resources/synfig/fish.0061.png
resources/synfig/fish.0062.png
resources/synfig/fish.0063.png
resources/synfig/fish.0064.png
resources/synfig/fish.0065.png
resources/synfig/fish.0066.png
resources/synfig/fish.0067.png
resources/synfig/fish.0068.png
resources/synfig/fish.0069.png
resources/synfig/fish.0070.png
resources/synfig/fish.0071.png
resources/synfig/fish.0072.png
resources/synfig/fish.0073.png
resources/synfig/fish.0074.png
resources/synfig/fish.0075.png
resources/synfig/fish.0076.png
resources/synfig/fish.0077.png
resources/synfig/fish.0078.png
resources/synfig/fish.0079.png
resources/synfig/fish.0080.png
resources/synfig/fish.0081.png
resources/synfig/fish.0082.png
resources/synfig/fish.0083.png
resources/synfig/fish.0084.png
resources/synfig/fish.0085.png
resources/synfig/fish.0086.png
resources/synfig/fish.0087.png
resources/synfig/fish.0088.png
resources/synfig/fish.0089.png
resources/synfig/fish.0090.png
resources/synfig/fish.0091.png
resources/synfig/fish.0092.png
resources/synfig/fish.0093.png
resources/synfig/fish.0094.png
resources/synfig/fish.0095.png
resources/synfig/fish.0096.png
resources/synfig/fish.0097.png
resources/synfig/fish.0098.png
resources/synfig/fish.0099.png
resources/synfig/fish.0100.png
resources/synfig/fish.0101.png
resources/synfig/fish.0102.png
resources/synfig/fish.0103.png
resources/synfig/fish.0104.png
resources/synfig/fish.0105.png
resources/synfig/fish.0106.png
resources/synfig/fish.0107.png
resources/synfig/fish.0108.png
resources/synfig/fish.0109.png
resources/synfig/fish.0110.png
resources/synfig/fish.0111.png
resources/synfig/fish.0112.png
resources/synfig/fish.0113.png
resources/synfig/fish.0114.png
resources/synfig/fish.0115.png
resources/synfig/fish.0116.png
resources/synfig/fish.0117.png
resources/synfig/fish.0118.png
resources/synfig/fish.0119.png
resources/synfig/fish.0120.png
resources/synfig/fish.0121.png
resources/synfig/fish.0122.png
resources/synfig/fish.0123.png
resources/synfig/fish.0124.png
resources/synfig/fish.0125.png
resources/synfig/fish.0126.png
resources/synfig/fish.0127.png
resources/synfig/fish.0128.png
resources/synfig/fish.0129.png
resources/synfig/fish.0130.png
resources/synfig/fish.0131.png
resources/synfig/fish.0132.png
resources/synfig/fish.0133.png
resources/synfig/fish.0134.png
resources/synfig/fish.0135.png
resources/synfig/fish.0136.png
resources/synfig/fish.0137.png
resources/synfig/fish.0138.png
resources/synfig/fish.0139.png
resources/synfig/fish.0140.png
resources/synfig/fish.0141.png
resources/synfig/fish.0142.png
resources/synfig/fish.0143.png
resources/synfig/fish.0144.png
resources/synfig/fish.0145.png
resources/synfig/fish.0146.png
resources/synfig/fish.0147.png
resources/synfig/fish.0148.png
resources/synfig/fish.0149.png
resources/synfig/fish.0150.png
resources/synfig/fish.0151.png
resources/synfig/fish.0152.png
resources/synfig/fish.0153.png
resources/synfig/fish.0154.png
resources/synfig/fish.0155.png
resources/synfig/fish.0156.png
resources/synfig/fish.0157.png
resources/synfig/fish.0158.png
resources/synfig/fish.0159.png
resources/synfig/fish.0160.png
resources/synfig/fish.0161.png
resources/synfig/fish.0162.png
resources/synfig/fish.0163.png
resources/synfig/fish.0164.png
resources/synfig/fish.0165.png
resources/synfig/fish.0166.png
resources/synfig/fish.0167.png
resources/synfig/fish.0168.png
resources/synfig/fish.0169.png
resources/synfig/fish.0170.png
resources/synfig/fish.0171.png
resources/synfig/fish.0172.png
resources/synfig/fish.0173.png
resources/synfig/fish.0174.png
resources/synfig/fish.0175.png
resources/synfig/fish.0176.png
resources/synfig/fish.0177.png
resources/synfig/fish.0178.png
resources/synfig/fish.0179.png
resources/synfig/fish.0180.png
resources/synfig/fish.0181.png
resources/synfig/fish.0182.png
resources/synfig/fish.0183.png
resources/synfig/fish.0184.png
resources/synfig/fish.0185.png
resources/synfig/fish.0186.png
resources/synfig/fish.0187.png
resources/synfig/fish.0188.png
resources/synfig/fish.0189.png
resources/synfig/fish.0190.png
resources/synfig/fish.0191.png
resources/synfig/fish.0192.png
resources/synfig/fish.0193.png
resources/synfig/fish.0194.png
resources/synfig/fish.0195.png
resources/synfig/fish.0196.png
resources/synfig/fish.0197.png
resources/synfig/fish.0198.png
resources/synfig/fish.0199.png
resources/synfig/fish.0200.png
resources/synfig/fish.0201.png
resources/synfig/fish.0202.png
resources/synfig/fish.0203.png
resources/synfig/fish.0204.png
resources/synfig/fish.0205.png
resources/synfig/fish.0206.png
resources/synfig/fish.0207.png
resources/synfig/fish.0208.png
resources/synfig/fish.0209.png
resources/synfig/fish.0210.png
resources/synfig/fish.0211.png
resources/synfig/fish.0212.png
resources/synfig/fish.0213.png
resources/synfig/fish.0214.png
resources/synfig/fish.0215.png
resources/synfig/fish.0216.png
resources/synfig/fish.0217.png
resources/synfig/fish.0218.png
resources/synfig/fish.0219.png
resources/synfig/fish.0220.png
resources/synfig/fish.0221.png
resources/synfig/fish.0222.png
resources/synfig/fish.0223.png
resources/synfig/fish.0224.png
resources/synfig/fish.0225.png
resources/synfig/fish.0226.png
resources/synfig/fish.0227.png
resources/synfig/fish.0228.png
resources/synfig/fish.0229.png
resources/synfig/fish.0230.png
resources/synfig/fish.0231.png
resources/synfig/fish.0232.png
resources/synfig/fish.0233.png
resources/synfig/fish.0234.png
resources/synfig/fish.0235.png
resources/synfig/fish.0236.png
resources/synfig/fish.0237.png
resources/synfig/fish.0238.png
resources/synfig/fish.0239.png
resources/synfig/fish.0240.png
resources/synfig/fish.0241.png
resources/synfig/fish.0242.png
resources/synfig/fish.0243.png
resources/synfig/fish.0244.png
resources/synfig/fish.0245.png
resources/synfig/fish.0246.png
resources/synfig/fish.0247.png
resources/synfig/fish.0248.png
resources/synfig/fish.0249.png
resources/synfig/fish.0250.png
resources/synfig/fish.0251.png
resources/synfig/fish.0252.png
resources/synfig/fish.0253.png
resources/synfig/fish.0254.png
resources/synfig/fish.0255.png
resources/synfig/fish.0256.png
resources/synfig/fish.0257.png
resources/synfig/fish.0258.png
resources/synfig/fish.0259.png
resources/synfig/fish.0260.png
resources/synfig/fish.0261.png
resources/synfig/fish.0262.png
resources/synfig/fish.0263.png
resources/synfig/fish.0264.png
resources/synfig/fish.0265.png
resources/synfig/fish.0266.png
resources/synfig/fish.0267.png
resources/synfig/fish.0268.png
resources/synfig/fish.0269.png
resources/synfig/fish.0270.png
resources/synfig/fish.0271.png
resources/synfig/fish.0272.png
resources/synfig/fish.0273.png
resources/synfig/fish.0274.png
resources/synfig/fish.0275.png
resources/synfig/fish.0276.png
resources/synfig/fish.0277.png
resources/synfig/fish.0278.png
resources/synfig/fish.0279.png
resources/synfig/fish.0280.png
resources/synfig/fish.0281.png
resources/synfig/fish.0282.png
resources/synfig/fish.0283.png
resources/synfig/fish.0284.png
resources/synfig/fish.0285.png
resources/synfig/fish.0286.png
resources/synfig/fish.0287.png
resources/synfig/fish.0288.png
resources/synfig/fish.0289.png
resources/synfig/fish.0290.png
resources/synfig/fish.0291.png
resources/synfig/fish.0292.png
resources/synfig/fish.0293.png
resources/synfig/fish.0294.png
resources/synfig/fish.0295.png
resources/synfig/fish.0296.png
resources/synfig/fish.0297.png
resources/synfig/fish.0298.png
resources/synfig/fish.0299.png
resources/synfig/fish.0300.png
