/* BASE FOLDER token will be replaced at compile time by our bash script. */


$logo-url: url('file://[BASE_FOLDER]/assets/logo.svg');
$corner-logo-url: url('file://[BASE_FOLDER]/templates/KartozaSymbolCMYK.svg');
$header-url: url('file://[BASE_FOLDER]/templates/header.svg');
$footer-url: url('file://[BASE_FOLDER]/templates/footer.svg');