#Alternative for pdf creation 
mkdocs-with-pdf
# Rather do
# pip install -e git+https://github.com/jwaschkau/mkpdfs-mkdocs-plugin.git#egg=mkpdfs-mkdocs
mkdocs-material
mdx_gh_links
mkdocs-pdf-export-plugin
mkdocstrings-python
mkdocs-video
mkdocs-redirects
mkdocs-enumerate-headings-plugin
mkdocs-git-revision-date-localized-plugin
# needed for the create-uuid.py helper script
shortuuid
# Needed for mkdocstrings python documentation generator
black
cffi
# Needed for PDF back page QR Code
qrcode
